<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/detail.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    
</head>

<body>
  <div class="container navbar">
    <header>
            <div id="username" class="logo">
               username
            </div>
            <nav>
                <ul>
                    <li><a href="/main">Home</a></li>
                    <li><a href="#" id="create">Create</a></li>
                    <li><a href="#" id="logout">Logout</a></li>
                </ul>
            </nav>
        </header>
    </div>
        <input type="hidden" id="product_id" value="<%= item_id %>" />
        <input type="hidden" id="CheckPermission"/>
        <main class="container">
 
            <div class="left-column">
            </div>
           

            <div class="right-column">
              <div id="product-description">
              </div>
              <div class="detail">

              </div>
              <br><br><br>
              <div class="premission">
                <table border="0" id="change">      
                      <td><button type="button" id="delete_item" class="deletebtn">Delete</button></td>
                  </table>
          
                </div>
                    <div class="modifybox">
                      <h2>Update Item Informtaion</h2>
                        <input type="text" class="form-control" id="Productdescription" placeholder="Product Description">
                        <br>
                        <input type="number" class="form-control" id="Price" placeholder="Price">
                        <br>
                        <input type="text" class="form-control" id="Location" placeholder="Location">
                        <br>
                        <input type="number" class="form-control" id="Telephone" placeholder="Telephone">
                        <br>
                      <button type="button" class="savebtn" id="edit">Save changes</button>
                    </div>
          </main>

    <div class = "container">
      <table border="0" width="100%">
        <tr >
          <td width="100%">
            <input type="text" class="form-control" id="comment" placeholder="Enter the Comment"></input>
          </td>
          <td width="100%">
            <button type="button" class="submitbtn" id="add_comment">Submit</button>
          </td>

        </tr>

      </table>


    </div>
    <div class = "container">
      <div id="all_comment">
     
      </div>
    </div>
</body>
<script src="../static/js/detail.js"></script>
</html>