*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Scans', sans-serif;
}

body{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../login_background.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
  }

html{
    scroll-behavior: smooth;
}

.container{
    padding: 0 100px 0 100px;
}

nav ul,
.main-info-section,
.work-category{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar{
    background-color: #f78fb3;
}

.flex-container{
    padding: 0 100px 100px;
}

.logo,
header a{
    color: #ffffff;
}

li{
    list-style: none;
    margin-left: 30px;
}

a{
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translateY(50%);
}

.box{
	width: 500px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #000000;
	text-align: center;
  }
  
  .box h1{
	color: white;
	text-transform: uppercase;
	font-weight: 500;
  }
  
  .box input[type = "text"],.box input[type = "number"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
  }
  
  .box input[type = "text"]:focus,.box input[type = "number"]:focus{
	width: 280px;
	border-color: #f78fb3;
  }
  
  .submitBtn{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #f78fb3;
	padding: 14px 40px;
	outline: none;
	color: white;
	width: 180px;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
  }
  
  .submitBtn:hover{
  background: #f78fb3;
  }

  .custom-file-label{
	  text-align: center;
	  color:#ffffff;
  }

  input[type="file"] {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 300px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
  }

  input[type = "file"]:focus{
	width: 280px;
	border-color: #f78fb3;
  }


/* html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	font-family: "Helvetica Neue",sans-serif;
	font-weight: lighter;
}

header {
	width: 100%;
	height: 50px;

}

.content {
	width: 94%;
	margin: 4em auto;
	font-size: 20px;
	line-height: 30px;
	text-align: justify;
}

.logo {
	line-height: 60px;
	position: fixed;
	float: left;
	margin: 16px 46px;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 2px;
}

nav {
	position: fixed;
	width: 100%;
	line-height: 60px;
}

nav ul {
	line-height: 60px;
	list-style: none;
	background: rgb(0, 0, 0);
	overflow: hidden;
	color: #fff;
	padding: 0;
	text-align: right;
	margin: 0;
	padding-right: 40px;
	transition: 1s;
}

nav.black ul {
	background: #000;
}

nav ul li {
	display: inline-block;
	padding: 16px 40px;;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}

.menu-icon {
	line-height: 60px;
	width: 100%;
	background: #000;
	text-align: right;
	box-sizing: border-box;
	padding: 15px 24px;
	cursor: pointer;
	color: #fff;
	display: none;
}

@media(max-width: 786px) {

	.logo {
		  position: fixed;
		  top: 0;
		  margin-top: 16px;
	}

	nav ul {
		  max-height: 0px;
		  background: #000;
	}

	nav.black ul {
		  background: #000;
	}

	.showing {
		  max-height: 34em;
	}

	nav ul li {
		  box-sizing: border-box;
		  width: 100%;
		  padding: 24px;
		  text-align: center;
	}

	.menu-icon {
		  display: block;
	}

}

#data{
  position: relative;
  top: 50%;
  margin-top: 50px;
  height: 200px;
  border: 4px dashed #000000;
}
#data p{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 120px;
  color: #000000;
  font-family: Arial;
}
#data #ProductImage{
  width: 100%;
  height: 10%;
  position: fixed;
  outline: none;
  opacity: 0;
  
} */
