html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Scans', sans-serif;
  background: #2f3542;
}

header {
	width: 100%;
	height: 120px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content {
	width: 94%;
	margin: 4em auto;
	font-size: 20px;
	line-height: 30px;
	text-align: justify;
}

header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.navbar{
  background-color: #f78fb3;
  padding: 0 100px 0 100px;
}

.flex-container{
  padding: 0 100px 100px;
}

.logo,
header a{
  color: #ffffff;
}

li{
  list-style: none;
  margin-left: 30px;
}

.left-column img {
  width: 100%;
  position: absolute;
  transition: all 0.3s ease;
}

a{
  text-decoration: none;
  font-size: .9rem;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translateY(50%);
}

  /* Columns */
  .left-column {
    width: 50%;
    margin-top: 60px;
    position: relative;
  }
  
  .right-column {
    width: 100%;
    margin-top: 10px;
    margin-left: 120px;
  }
  
  #product-description {
    border-bottom: 1px solid #f78fb3;
    margin-bottom: 20px;
  }

  #product-description h1 {
    font-weight: 300;
    font-size: 65px;
    color: #f78fb3;
  }
  
  #product-description p {
    font-size:25px;
    line-height: 10px;
    color: #86939E;
  }

  .detail{
    color: #fff;
  }

.deletebtn{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #f78fb3;
  padding: 14px 40px;
  outline: none;
  color: #ffffff;
  width: 180px;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.deletebtn:hover{
background: #f78fb3;
}

.modifybox h2{
  color: #3498db;
  border-bottom: 1px solid #3498db;
  margin-bottom: 20px;
}

.savebtn{
  border: 0;
  background: none;
  display: block;
  text-align: center;
  border: 2px solid #f78fb3;
  padding: 14px 40px;
  outline: none;
  color: #f78fb3;
  width: 180px;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.savebtn:hover{
background: #f78fb3;
}

.savebtn{
  border: 0;
  background: none;
  display: block;
  text-align: center;
  border: 2px solid #f78fb3;
  padding: 14px 40px;
  outline: none;
  color: #ffffff;
  width: 180px;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.savebtn:hover{
background: #f78fb3;
}

.modifybox input[type = "text"],.modifybox input[type = "number"],.submitbtn{
  border: 0;
  background: none;
  display: block;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #ffffff;
  border-radius: 24px;
  transition: 0.25s;
}

.modifybox input[type = "text"]:focus,.modifybox input[type = "number"]:focus, .submitbtn:focus{
  width: 280px;
  border-color: #f78fb3;
}

::placeholder {
  color: #ffffff;
}

.editbtn{
  border: 0;
  background: none;
  display: block;
  text-align: center;
  border: 2px solid #f78fb3;
  padding: 14px 40px;
  outline: none;
  color: #ffffff;
  width: 180px;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.editbtn:hover{
background: #f78fb3;
}

.form-control{
  border: 0;
  background: none;
  display: block;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 350px;
  outline: none;
  color: #ffffff;
  border-radius: 24px;
  transition: 0.25s;
}

.form-control:focus{
  width: 800px;
  border-color: #f78fb3;
}

.commentbox{
  border: 0;
  background: none;
  display: block;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 850px;
  outline: none;
  color: #ffffff;
  border-radius: 24px;
  transition: 0.25s;
}

.commentbox_username{
  font-size: 35px;
}

.comment_content{
  font-size: 20px;
}

.modify-title{
  color: #3498db;
  border-bottom: 1px solid #3498db;
  margin-bottom: 20px;
}

.commentchange{
  border: 0;
  background: none;
  display: block;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #ffffff;
  border-radius: 24px;
  transition: 0.25s;
}

.commentchange:focus{
  width: 280px;
  border-color: #f78fb3;
}