*{
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
}

body{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../login_background.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #000000;
  text-align: center;
}

.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type = "text"],.box input[type = "password"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #f78fb3;
}

.loginbtn, .registerbtn{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #f78fb3;
  padding: 14px 40px;
  outline: none;
  color: white;
  width: 180px;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.registerbtn:hover, .loginbtn:hover{
background: #f78fb3;
}