*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Scans', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.container{
    padding: 0 100px 0 100px;
}

nav ul,
.main-info-section,
.work-category{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar{
    background-color: #f78fb3;
}

.flex-container{
    padding: 0 100px 100px;
}

.about h1,
.credit h1{
    color: #707070;
}

.logo,
header a{
    color: #ffffff;
}

li{
    list-style: none;
    margin-left: 30px;
}

a{
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translateY(50%);
}

.main-info-section{
    height: calc(100vh - 81.6px);
}

.text{
    margin-top: 120px;
}


.text h1{
    color: #f78fb3;
    font-size: 3rem;
    cursor: context-menu;
}

.text p{
    letter-spacing: 3px;
    word-wrap: 10px;
    font-size: .8rem;
}

.text a{
    padding: 12px 25px;
    background-color: none;
    border: 3px solid #f78fb3;
    color: #f78fb3;
    font-size: .8rem;
    letter-spacing: 2px;
    position: relative;
    top: 80px;
    overflow: hidden;
    transition: .5s;
    display: inline-block;
}

.text a:hover{
    color: #636e72;
}

.text a::before{
    content: '';
    background-color: #ff9cae;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transform: .5s;
}

.background-image img{
    width: 450px;
    margin-top: 50px;
}

.about{
    background-color: #FFAAA6;
}

.about h1,
.flex-container h1{
    font-size: 10rem;
    z-index: 0;
    opacity: .1;
}

.about-info{
    max-width: 900px;
    background-color: #ff9cae;
    box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
    padding: 50px;
    position: relative;
    top: -70px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index:1;
}

.about-info p{
    color: #fff;
}


a.about-info p{
    font-size: 1.3rem;
	color: #BEBEBE;
}

.about-info p:nth-child(3),
.about-info p:last-child {
    margin-top: 50px;
}

.credit{
    height: 100vh;
}

.credit h1{
    text-align: right;
    font-size: 10rem;
    opacity: .1;
}

.credit-info{
    font-size: 1.4rem;
    color: #ff9cae;
    max-width: 800px;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 50px;
}

.html{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

div[class^='tag-']{
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%,0% 100%, 0% 50%, 0% 0%);
    width: 120px;
    height: 30px;
    background-color: #ff9cae;
    margin-right: 30px;
}

div[class^='tag-'] p{
    color: #fff;
    text-align: left;
    padding-left: 10px;
    font-size: 1.1rem;
    padding-top: 3px;
}

.progressbar{
    position: relative;
    width: 600px;
    height: 20px;
    border: 2px solid #3498db;
    border-radius: 20px;
    margin-top: 2px;
}

div[class^='bar-']{
    position: absolute;
    background-color: #3498db;
    height: 10px;
    border-radius: 20px;
    margin: 2.7px;
}

.bar-1,
.bar-2,
.bar-3{
    width: calc(0 -6px);
}

div[class^=category-]{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none;
    background-color: #3498db; 
    color: white;
    cursor: pointer; 
    padding: 15px;
    border-radius: 10px;
    font-size: 18px; 
  }
  
  #myBtn:hover {
    background-color: #ff9cae;
  }

	.flex-item {
	background: #fff;
	padding: 5px;
	width: 500px;
	height: 450px;
	margin-top: 50px;
	color: black;
	font-weight: bold;
	font-size: 2rem;
	text-align: center;
    }
    
    .myButton {
        color: #ff9cae !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #ffffff;
        padding: 20px;
        border: 4px solid #ff9cae !important;
        display: inline-block;
        transition: all 0.4s ease 0s;
    }
    .myButton:hover {
        color: #3498db !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #ffffff;
        padding: 20px;
        border: 4px solid #3498db !important;
        display: inline-block;
        transition: all 0.4s ease 0s;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }